.cen {
    width: 100%;
    height: 100vh;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}


.tex_sch {
    color: #6885ce;
}

.para {
    width: 468px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.015em;
    text-align: justify;
    text-justify: inter-word;
    
}

.rig
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bt {
    background-color: black;
    color: white;
    border-radius: 32px;
    padding: 16px 40px;
    gap: 10px;
    margin-top: 48px;
}

.bt2
{
    margin-top: 30px;
}
